<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="vue_app">
			<div id="day03">
				<h1>day03: 列表渲染</h1>
				<h2>循环数组:item in stars</h2>
				<ul>
					<li v-for="item in stars">
						{{ item }}
					</li>
				</ul>
				<h2>循环对象数组(item,key) in students</h2>
				<ul>
					<li v-for="(item,key) in students">
						{{ key+1 }}:{{ item.name }}，{{ item.age }}，{{ item.school }}
					</li>
				</ul>
				<h2>循环对象item in students[0]</h2>
				<ul>
					<li v-for="item in students[0]">
						{{ item }}
					</li>
				</ul>
			</div>
			<script type="text/javascript">
				let day03 = new Vue({
					el:"#day03",
					data:{
						stars:["陈坤","蔡徐坤","张坤"],
						students:[
							{
								name:"陈坤",
								age:16,
								school:"哦哦"
							},
							{
								name:"陈器",
								age:23,
								school:"说书"
							},
							{
								name:"陈额",
								age:34,
								school:"单独"
							},
							{
								name:"陈怕",
								age:15,
								school:"给个"
							},
						]
					}
				})
			</script>
			<br />
			<br />
			<div id="day02">
				<h1>{{ title }}</h1>
				<h2 v-if="isVIP">VIP</h2>
				<!-- v-if 和 v-else之间不能有其他元素 -->
				<h2 v-else>普通</h2>
				<h2>用户等级</h2>
				<h3 v-if="level<=1">一级玩家</h3>
				<h3 v-else-if="level<=2">二级玩家</h3>
				<h3 v-else>顶级玩家</h3>
				<button v-on:click="showPane">状态</button>
				<p v-show="isShow">在线</p>
				<p v-show="!isShow">离线</p>
				<br />
				<h2>作业：Nav</h2>
				<h3 v-if="nav==1">点了第一个按钮</h3>
				<h3 v-else-if="nav==2">点了第二个按钮</h3>
				<h3 v-else>点了第三个按钮</h3>
				<button v-on:click="showNav" data-id="1">第一个按钮</button>
				<button v-on:click="showNav" data-id="2">点了第二个按钮</button>
				<button v-on:click="showNav" data-id="3">点了第三个按钮</button>
				<br />
				<br />
			</div>
			<script type="text/javascript">
				let day02 = new Vue({
					el: "#day02",
					data: {
						title: "day02：条件渲染, v-if:(Bit) Bit为false不生成DOM，true则生成；v-show:(Bit) T和F都生成DOM，只不过F添加了display:none",
						isVIP: false,
						level: 3,
						isShow: true,
						nav: 1
					},
					methods: {
						showPane: function(e) {
							console.log(e);
							this.isShow = !this.isShow
						},
						showNav: function(e) {
							console.log(e);
							this.nav = e.target.dataset.id
						}
					}
				})
			</script>
			<div id="day01">
				<h1>{{ title }}</h1>
				<h2>{{ msg }}</h2>
				<br />
				<br />
			</div>
			<script type="text/javascript">
				let day01 = new Vue({
					el: "#day01",
					data: {
						title: "day01：Hello Vue",
						msg: "Day 01"
					}
				});
			</script>
		</div>

	</body>

</html>
