<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="vue_app">
			<div id="day08">
				<h1>表单数据的绑定</h1>
				<h2>单行数据的绑定</h2>
				<input type="text" id="username08" v-model.lazy.trim="username" value="" />
				<p>{{ username }}</p>
				<h2>文本域的绑定</h2>
				<textarea rows="" cols="" v-model="username"></textarea>
				<h2>复选框</h2>
				<span v-for="item in fruits">
					{{ item }}<input type="checkbox" name="fruits" v-model="checkFruits" :value="item">
				</span>
				<h3>{{ checkFruits }}</h3>
				<h2>单选框</h2>
				<span v-for="item in fruits">
					{{ item }}<input type="radio" name="fruit" v-model="radioFruits" :value="item">
				</span>
				<h3>{{ radioFruits }}</h3>

				<h2>选项框</h2>
				<select name="city" v-model="selectCity">
					<option v-for="item in citys" :value="item">{{ item }}</option>
				</select>
				<h3>{{ selectCity }}</h3>
				<h2>多选项框</h2>
				<select multiple="multiple" name="city" v-model="multipleSelectCity">
					<option v-for="item in citys" :value="item">{{ item }}</option>
				</select>
				<h3>{{ multipleSelectCity }}</h3>
				<h2>将字符串变为数字获取</h2>
				<input type="text" name="age" v-model.number="age" id="day08age" value="" />
			</div>
			<script type="text/javascript">
				let day08 = new Vue({
					el: "#day08",
					data: {
						username: "xiaoming",
						fruits: ["苹果", "梨子", "香蕉", "葡萄"],
						checkFruits: [],
						radioFruits: "",
						citys: ['北京', '上海', '深圳', '东营'],
						selectCity: "北京",
						multipleSelectCity: [],
						age: 16
					},
					watch: {
						age: function(val) {
							console.log(val);
						}
					}
				})
			</script>
			<hr>
			<br>
			<div id="day07">
				<h1>事件监听</h1>
				<h2>使用表达式——@click="count+=1"：点击次数{{ count }}</h1>
					<button type="button" @click="count+=1">点击</button>
					<h2>获取事件对象</h2>
					<button type="button" @click="clickEvent">获取事件对象</button>
					<h2>事件传参</h2>
					<ul>
						<li v-for="(item,key) in stars" @click="clickEventLi(item,key,$event)">索引值:{{key}}——{{ item }}<!-- :data-id="key" -->
						</li>
					</ul>
					<h2>事件修饰符</h2>
					<h3>.stop_阻止冒泡事件向上传递</h3>
					<div class="btnParent" @click="clickEventBtnParent">
						<button @click.stop="clickEventBtnChild">按钮</button>
					</div>
					<h3>.prevent_阻止默认事件,按键绑定</h3>
					<form action="" method="post">
						<input type="text" @keydown.enter="searchWeather" name="username" v-model="city" id="" value="" />
						<input @click.prevent="searchWeather" type="submit" value="提交" />
					</form>

					<h3>.once_只触发一次</h3>
					<button type="button" @click.once="onceEvent">onceEvent</button>
			</div>
			<script type="text/javascript">
				let day07 = new Vue({
					el: "#day07",
					data: {
						count: 0,
						stars: [
							'蔡徐坤', '范冰冰', '李晨'
						],
						city: "东营"
					},
					methods: {
						clickEvent: function(e) {
							console.log(e);
							console.log(this)
							this.count++
						},
						clickEventLi: function(i, v, event) {
							console.log(i);
							console.log(v);
							console.log(event);
						},
						clickEventBtnParent: function() {
							console.log("clickEventBtnParent");
						},
						clickEventBtnChild: function() {
							console.log("clickEventBtnChild");
						},
						searchWeather: async function() {
							console.log("searchWeather")
							console.log(this.city)
							let httpUrl = `http://www.baidu.com/${this.city}`
							let res = await fetch(httpUrl)
							let result = await res.json()
							console.log(result);
						},
						onceEvent: function() {
							console.log("onceEvent");
						}
					}
				})
			</script>
			<br />
			<hr />
			<br />
			<div id="day06">
				<h1>day06:内联样式</h1>
				<div style="width: 398px;height: 98px;border: 1px solid black;">style="width: 200px;height: 100px;border: 1px solid
					black;"</div>
				<div :style="{width:'380px',height:'80px',border:'10px solid red'}">:style="{border:'10px solid
					red',margin:'10px',width:'180px',heigth:'80px'}"</div>
				<div :style="{width:'380px',height:'80px',border:'10px solid '+ borderColor}">:style="{width:'380px',height:'80px',border:'10px
					solid '+ borderColor}"</div>
				<div :style="borderObj">:style="borderObj"</div>
				<div :style="borderArr">:style="borderArr"</div>

			</div>
			<script type="text/javascript">
				let day06 = new Vue({
					el: "#day06",
					data: {
						borderColor: "blue",
						borderObj: {
							width: '380px',
							height: '80px',
							border: '10px solid purple'
						},
						borderArr: [{
								width: '380px',
								height: '80px',
								border: '10px solid pink'
							},
							{
								background: "blue"
							}
						]
					}
				})
			</script>
			<hr />
			<style type="text/css">
				.page {
					width: 300px;
					height: 100px;
					background-color: pink;
				}

				.active {
					background-color: aqua;
				}

				.laoyu {
					border: 1px brown;
					border-style: solid;
					background-color: #23a57a;
				}
			</style>
			<div id="day05">
				<h1>day05:侦听器——数据改变时的事件</h1>
				<h2>{{msg}}</h2>
				<h3 v-for="(item,key) in arr">{{ item }}</h3>
				<h1>day05:html class</h1>
				<!-- <div class="page" id=""></div> -->
				<div class="page" :class="{active:isTrue}">{active:isTrue}</div>
				<div class="page" :class="styleObj">styleObj</div>
				<div class="page" :class="styleArr">styleArr</div>
				<div class="page" :class="styleStr">styleStr</div>
			</div>
			<script type="text/javascript">
				let day05 = new Vue({
					el: "#day05",
					data: {
						msg: "123",
						arr: ["321", "234", "456"],
						isTrue: true,
						styleObj: {
							active: true,
							laoyu: true,
							"col-lg-4": true,
						},
						styleArr: ["col-xs-4", "red-bg"],
						styleStr: "abc cba ahq",
					},
					watch: {
						msg: function(value) {
							console.log(value);
						},
						arr: function(value) {
							console.log(value);
						}
					}
				})
			</script>
			<hr />
			<style type="text/css">
				#day04login0 {
					background-color: skyblue;
				}

				#day04login1 {
					background-color: burlywood;
				}
			</style>
			<div id="day04">
				<h1>day04:模板语法</h1>
				<h2>插值v-once：一次插入，不会更新</h2>
				<h3>{{ val }}</h3>
				<h3 v-once>v-once:{{ val }}</h3>
				<button @click="insertVal">insertVal</button>
				<h2>插入html</h2>
				<h3>htmlTxt:{{htmlTxt}}</h3>
				<h3 v-html="htmlTxt"></h3>
				<h4>插入HTML的v-html最好少用，防止别人XSS攻击</h4>
				<h2>绑定:v-bind</h2>
				<h3 id="day04login">id——day04login</h3>
				<h3 :id="day04login">:id——{{day04login}}</h3>
				<h3>{{Math.floor(Math.random() * 10)%2===1?"随机数使奇数":"随机数使偶数"}}</h3>
				<h2>firstname+lastname</h2>
				<h3>firstname+lastname:{{ firstname+lastname }}</h3>
				<h3>fullname:{{ fullname }}</h3>
				<h2>逆序显示一个单词</h2>
				<h3>word.split("").reverse().join(""):{{ word.split("").reverse().join("") }}</h3>
				<h3>reverseWord:{{ reverseWord }}</h3>
				<h3>Word:{{ word }}</h3>
				<h2>直接使用指令输出</h2>
				<ul>
					<li v-for="(item,key) in students" v-if="item.age%2==0" :key="key">
						{{ key }}:{{ item }}
					</li>
				</ul>
				<h2>先计算后输出</h2>
				<ul>
					<li v-for="(item,key) in computedStudents" :key="key">
						{{ key }}:{{ item }}
					</li>
				</ul>
			</div>
			<!-- <script type="text/javascript" src="js/LIkeXSS.js"></script> -->
			<script type="text/javascript">
				let day04 = new Vue({
					el: "#day04",
					data: {
						val: "123",
						htmlTxt: "<div>这是一个div标签</div><div>这是注入的html</div>",
						day04login: "day04login" + Math.floor(Math.random() * 10) % 2,
						firstname: "于少东",
						lastname: "压力山大",
						word: "music",
						students: [{
								name: "陈坤",
								age: 16,
								school: "哦哦",
								headImg: "https://img-cdn-qiniu.dcloud.net.cn/new-page/logo.png"
							},
							{
								name: "陈器",
								age: 23,
								school: "说书"
							},
							{
								name: "陈额",
								age: 34,
								school: "单独"
							},
							{
								name: "陈怕",
								age: 15,
								school: "给个"
							},
						]
					},
					computed: {
						fullname: function() {
							return this.firstname + this.lastname
						},
						reverseWord: {
							get: function() {
								return this.word.split("").reverse().join("")
							},
							set: function(value) {
								this.word = value.split("").reverse().join("")
							}
						},
						computedStudents: function() {
							return this.students.filter((item, index) => {
								return item.age % 2 === 0
							})
						}
					},
					methods: {
						insertVal: () => {
							day04.val = day04.val + "^" + Date()
						}
					}
				})
			</script>
			<br />
			<hr />
			<div id="day03test">
				<h1>day03test: 列表渲染</h1>

				<h2>vue的渲染机制导致如果有重复代码时，为了加速渲染而不去更新老代码；为了标致代码的唯一性，需要定义key，来使子元素全部渲染，key变量绑定用:key</h2>
				<div v-if="islogin" id="login" key="login">
					<div>login</div>
					<input placeholder="用户名" type="text" name="username" value="" />
					<input placeholder="密码" type="password" name="password" value="" />
					<button type="button" v-on:click="toggetPage">goto register</button>
				</div>
				<div v-else id="register" key="register">
					<div>register</div>
					<input placeholder="用户名" type="text" name="username" value="" />
					<input placeholder="密码" type="password" name="password" value="" />
					<button type="button" v-on:click="toggetPage">goto login</button>
				</div>
			</div>
			<script type="text/javascript">
				let day03test = new Vue({
					el: "#day03test",
					data: {
						islogin: true
					},
					methods: {
						toggetPage: () => {
							day03test.islogin = !day03test.islogin
						}
						// toggetPage:function(){
						// 	this.islogin=!this.islogin
						// }
					}
				})
			</script>
			<br />
			<div id="day03">
				<h1>day03: 列表渲染</h1>
				<h2>循环数组:item in stars</h2>
				<ul>
					<li v-for="item in stars">
						{{ item }}
					</li>
				</ul>
				<h2>循环对象数组(item,key) in students</h2>
				<ul>
					<li v-for="(item,key) in students">
						{{ key+1 }}:{{ item.name }}，{{ item.age }}，{{ item.school }}
					</li>
				</ul>
				<h2>循环对象(item,key) in students[0]</h2>
				<ul>
					<li v-for="(item,key) in students[0]">
						{{ key }}:{{ item }}
					</li>
				</ul>
				<img :src="students[0].headImg" />
				<br />
				<h2>条件+循环对象(item,key) in students[0] 在一起的时候先循环后判断</h2>
				<ul>
					<li v-for="(item,key) in students" v-if="item.age%2==0" :key="key">
						{{ key }}:{{ item }}
					</li>
				</ul>
			</div>
			<script type="text/javascript">
				let day03 = new Vue({
					el: "#day03",
					data: {
						stars: ["陈坤", "蔡徐坤", "张坤"],
						students: [{
								name: "陈坤",
								age: 16,
								school: "哦哦",
								headImg: "https://img-cdn-qiniu.dcloud.net.cn/new-page/logo.png"
							},
							{
								name: "陈器",
								age: 23,
								school: "说书"
							},
							{
								name: "陈额",
								age: 34,
								school: "单独"
							},
							{
								name: "陈怕",
								age: 15,
								school: "给个"
							},
						]
					}
				})
			</script>
			<br />
			<hr />
			<div id="day02">
				<h1>{{ title }}</h1>
				<h2 v-if="isVIP">VIP</h2>
				<!-- v-if 和 v-else之间不能有其他元素 -->
				<h2 v-else>普通</h2>
				<h2>用户等级</h2>
				<h3 v-if="level<=1">一级玩家</h3>
				<h3 v-else-if="level<=2">二级玩家</h3>
				<h3 v-else>顶级玩家</h3>
				<button v-on:click="showPane">状态</button>
				<p v-show="isShow">在线</p>
				<p v-show="!isShow">离线</p>
				<br />
				<h2>作业：Nav</h2>
				<h3 v-if="nav==1">点了第一个按钮</h3>
				<h3 v-else-if="nav==2">点了第二个按钮</h3>
				<h3 v-else>点了第三个按钮</h3>
				<button v-on:click="showNav" data-id="1">第一个按钮</button>
				<button v-on:click="showNav" data-id="2">点了第二个按钮</button>
				<button v-on:click="showNav" data-id="3">点了第三个按钮</button>
				<br />
				<br />
			</div>
			<hr />
			<script type="text/javascript">
				let day02 = new Vue({
					el: "#day02",
					data: {
						title: "day02：条件渲染, v-if:(Bit) Bit为false不生成DOM，true则生成；v-show:(Bit) T和F都生成DOM，只不过F添加了display:none",
						isVIP: false,
						level: 3,
						isShow: true,
						nav: 1
					},
					methods: {
						showPane: function(e) {
							console.log(e);
							this.isShow = !this.isShow
						},
						showNav: function(e) {
							console.log(e);
							this.nav = e.target.dataset.id
						}
					}
				})
			</script>
			<div id="day01">
				<h1>{{ title }}</h1>
				<h2>{{ msg }}</h2>
				<br />
				<br />
			</div>
			<script type="text/javascript">
				let day01 = new Vue({
					el: "#day01",
					data: {
						title: "day01：Hello Vue",
						msg: "Day 01"
					}
				});
			</script>
		</div>

	</body>

</html>
